* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('image2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Keeps the background image fixed while scrolling */
  }
.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.submit
{
    display:flex;
    flex-direction: row;
}

.settings-form {
    background-color: #000; /* Changed background color to black */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    max-width: 400px;
    width: 100%;
    margin: auto;
    margin-top: 100px; /* Center the form vertically */
}


.settings-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.btn {
    margin-right: 10px; 
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.btn-logout {
    margin-top: 10px;
    margin-right: 10px; 
    display: block;
    width: 97%;
    padding: 10px 0;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e60000;
}

.forgot-password {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}

.sign-up-link {
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

.sign-up-link a {
    color: #ff0000;
    text-decoration: none;
}

.sign-up-link a:hover {
    text-decoration: underline;
}

.error-message {
    margin-left: 80px;
}
